html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #2B2B2B;
  display: inline-block;
  height: 160px;
  width: 100%;
}

.nav-icons {
  display: inline-block;
  height: 20px;
  position: relative;
  top: 4px;
  width: 20px;
}

.nav-links {
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: 100px;
  width: 150px;
}

.shares {
  margin-left: 20px;
}

.shares-description:hover {
  border-bottom: 1px solid #27B4FF;
  color: #8B8B8B;
}

.playlists-description:hover, .nav-videos:hover {
  border-bottom: 1px solid #27B4FF;
  color: white;
}

.nav-videos, .playlists-description {
  color: #8B8B8B;
}

.nav-description {
  display: inline-block;
}

#logo {
  cursor: pointer;
  height: 40px;
  margin-top: 100px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 110px;
}

#logo:hover {
  border: 1px solid white;
}

.username {
  color: #27B4FF;
  cursor: pointer;
  display: inline-block;
}

.username:hover {
  border-bottom: 1px solid #27B4FF;
}

.user-settings {
  float:right;
  margin-right: 20px;
}

.settings-images {
  cursor: pointer;
  height: 20px;
  position: relative;
  top: 4px;
  width: 20px;
}

h1 {
  color: #545454;
  font-size: 1.8em;
  margin-left: 20px;
}

.card-holder {
  display: flex;
  justify-content: space-around;;
  flex-wrap: wrap;
}

.card-top {
  background-blend-mode: multiply;
  background-color: grey;
  background-position: center;
  background-size: cover;
  height: 130px;
}

.cards:hover > .card-top{
  background-blend-mode: normal;;
  background-color: white;
}

.view-flexer {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  margin-right: 7px;
  margin-top: 7px;
}

.views, .views-number {
  color: white;
  float: right;
  position: relative;
}

.views {
  display: block;
  margin-top: 4px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: .7em;
}

.views-number {
  display: block;
  font-size: 1.7em;
  margin-top: 0;
}

.card-bottom {
  background-color: #FFFFFF;
}

.link {
  background-color: #EFEFEF;
  color: #7f7a7a;
  height: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80%;
}

.link-width {
  cursor: pointer;
  max-width: 30ch;
  white-space: normal;
  word-break: break-all;
}

.link-width:hover {
  color: #2FB8FE;
}

.attachment-number {
  color: #2FB8FE;
  font-size: 1.6em;
  margin-left: 5%;
  margin-top: 2px;
}

.cards {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px 1px #BDBDBD;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
  width: 290px;
}

.cards:hover {
  box-shadow: 2px 2px 3px 2px grey;
}

.one {
  background-image: url('images/archer.jpg');
}

.two {
  background-image: url('images/lana.jpg');
}

.three {
  background-image: url('images/cheryl.jpg');
}

.four {
  background-image: url('images/Ciryl.png');
}

.five {
  background-image: url('images/krieger.jpg');
}

.six {
  background-image: url('images/malory.jpg');
}

.seven {
  background-image: url('images/pam.jpg');
}

.eight {
  background-image: url('images/ray.jpg');
}

.white-card {
  box-shadow: none;
  height: 0;
}

.arrow {
  cursor: pointer;
  height: 50px;
  margin-left: 7px;
  margin-top: 9px;
  width: 50px;
}

h2, h3 {
  margin-bottom: 2px;
  margin-left: 5%;
}

h2 {
  color: #4f4e4e;
  font-size: 1em;
}

h3 {
  color: #4f4e4e;
  font-size: .65em;
}

.playlist-name, .date {
  margin-left: 5%;
  margin-top: 2px;
}

.playlist-name {
  color: #4f4e4e;
  font-size: 1em;
}

.date {
  font-size: .7em;
  color: #8B8B8B;
}

@media screen and (max-width: 660px) {

.nav-links {
  display: block;
  margin-top: 2px;
  margin-left: 20px;
}

.shares {
  margin-left: 0;
}

h1 {
  margin-left: 42%;
}

}


@media screen and (max-width: 480px) {

header {
  height: 160px;
}

.nav-description {
  display: block;
  font-size: .6em;
}

.nav-icons {
  display: inline-block;
  height: 35px;
  width: 35px;
}

.user-settings {
  display: flex;
  float: right;
  margin-left: 10px;
  margin-right: 5%;
  margin-top: 5px;
}

.settings-images {
  height: 26px;
  margin-left: 2px;
  margin-top: 5px;
  width: 26px;
}

.username {
  font-size: .85em;
  margin-top: 15px;
}

.nav-links {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 90px;
  width: 30px;
}

.nav-links-wrapper {
  display: flex;
  width: 100%;
}

.nav-shares {
  left: 6%;
}

.playlists {
  left: 42.5%;
}

.playlist-icon{
  margin-left: 1px;
}

.video-icon {
  margin-left: 20px;
}

.videos {
  width: 100px;
  left: 75%;
}

#logo {
  height: 30px;
  left: 6.5%;
  margin-top: 10px;
  width: 83px;
}

h1 {
  margin-left: 38%;
}

}
