html, body {
  height: 100%;
  width: 100%;
}

header {
  background-color: #2B2B2B;
  height: 200px;
  width: 100%;
  display: inline-block;
}

.nav-icons {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.nav-links {
  display: inline-block;
  background-color: coral;
  margin-top: 10%;
  width: 150px;
}

.nav-description {
  display: inline-block;
}

.username {
  color: #27B4FF;
  display: inline-block;
}

.user-settings {
  display: inline-block;
  float:right;
  background-color: green;
  width: 300px;
}

.settings-images {
  width: 20px;
  height: 20px;
}

.card-holder {
  display: flex;
  justify-content: space-around;;
  /*flex-direction: column;*/
  flex-wrap: wrap;
}

.card-top {
  background-blend-mode: multiply;
  background-color: grey;
  height: 130px;
  /*background-color: lightblue;*/
  background-position: center;
  background-size: cover;
}

.card-bottom {
  background-color: grey;
}

.link {
  background-color: #EFEFEF;
  height: 40px;
}

.attachment-number {
  color: #2FB8FE;
}

.cards {
  /*display: inline-block;*/
  margin-left: 1%;
  flex-wrap: wrap;
  width: 290px;
  display: flex;
  flex-direction: column;
}

.one {
  background-image: url('images/archer.jpg');
}

.two {
  background-image: url('images/lana.jpg');
}

.three {
  background-image: url('images/cheryl.jpg');
}

.four {
  background-image: url('images/Ciryl.png');
}

.five {
  background-image: url('images/krieger.jpg');
}

.six {
  background-image: url('images/malory.jpg');
}

.seven {
  background-image: url('images/pam.jpg');
}

.eight {
  background-image: url('images/ray.jpg');
}

.arrow {
  height: 40px;
  width: 40px;
}

h2 {
  margin-left: 5%;

}
